html {
  scroll-behavior: smooth;
  position: relative;
  font-family: 'Product Sans Regular', Sans-Serif;
  z-index: 0;
}
body, body.body {
  background: #f1f1f1;
}

div.container {
  padding: 1em;
}
div.progressBarContainer {
  width: 100%;
  height: 50px;
}
div.progressBarTop {
  width: 0;
  height: 40px;
  background: linear-gradient(45deg, #05FC31, #01D37A)
}
div.progressBarBottom {
  padding: 3px;
  position: relative;
  width: 100%;
  height: 40px;
  background: #313131;
}

div.moreInfo {
  width: 100%;
  margin-top: 5em;
}
div.moreInfo h4 {
  font-family: 'Product Sans Regular', Sans-Serif;
  font-weight: 400;
  line-height: 0px;
}
div.moreInfo span {
  display: flex;
  justify-content: flex-end;
}
a, a:link, a:visited, a:hover {
  color: #000;
}
p.footer {
  position: fixed;
  left: 20px;
  bottom: 1em;
  font-weight: 400;
  font-size: 16px;
}
i.bi { 
  font-size: 14px;
}



@media (orientation: landscape) {
  div.container {
    padding: 5em;
  }